.confirmation__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 20px 0 20px;
    z-index: 1000;
    display: none;
    flex-direction: column;
    border-radius: 8px;
    width: 400px;
}

.confirmation__tittle {
    font-size: 18px;
    color: black;
    margin:0;
}

.confirmation__button {
    margin: 20px;
    padding: 15px;
    background-color: black;
    color: white;
}