.modal {
    display: none;
    position: fixed;
    inset: 0;
}

.modal__overlay {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal__content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
}

.modal__img {
    max-width: 100%;
    max-height: 100%;
}

.modal__close {
    position: absolute;
    top: -50px;
    right: -40px;
    font-size: 4rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.modal__caption {
    margin-top: 10px;
}